<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/jsassets/style.css">
	<link rel="stylesheet" href="/css/home.css">
	<script src="/js/home.js" defer></script>
	<link rel="shortcut icon" href="/jsassets/favicon.ico">
	<title>Insert title here</title>
</head>

<body>

	<header>
		<div class="container">
			<h1>ようこそ。</h1>
		</div>
	</header>
	<main>
		<div class="container" id="work">
			<section>
				<div id="work1">
					<div class="contents">
						<div class="left">
							<form th:action="@{/myhome}" method="POST" enctype="multipart/form-data">
								<p>メッセージ</p>
								<textarea name="text" placeholder="入力してください" maxlength="140" required="required"></textarea><br>
								<input type="file" name="myfile" id="file-input"><br>
								<br>
								<input type="submit" value="投稿">
							</form>
						</div>

						<div class="right">
							<img src="/image/colorImage.jpg" alt="画像" id="image">
						</div>
					</div>




					<div id="print">
						<hr>
						<br>
						<th:block th:each="result : ${selectResult}">
							<th:block th:if="${result.text != null}">
								メッセージ＞<p th:text="${result.text}"></p>
							</th:block>
							<th:block th:if="${result.image != null}">
								<th:block th:if="${result.ContentType.contains('image')}">
									<img th:src="${'data:image/png;base64,' + result.image}" width="60%" height="60%">
								</th:block>
								<th:block th:if="${result.ContentType.contains('video')}">
									<video style="width:570px;" autoplay controls>
										<source th:src="${'data:image/mp4;base64,' + result.image}" type="video/mp4">
									</video>
								</th:block>
							</th:block>
							<hr style="border-style:dotted" size="1">
						</th:block>
					</div>

				</div>
			</section>
		</div>
	</main>
	<footer>
		<div class="container">
			<p>Javaフレームワーク</p>
		</div>
	</footer>
</body>

</html>