<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/jsassets/style.css">
	<link rel="shortcut icon" href="/jsassets/favicon.ico">
	<title>Insert title here</title>
</head>

<body>
	<header>
		<div class="container">
			<h1>JavaScript</h1>
		</div>
	</header>
	<main>
		<div class="container" id="work">
			<section>
				<div id="work1">
					<!-- JavaScriptを記述 -->
					<p>JavaScript</p>
				</div>
			</section>
		</div>
	</main>
	<footer>
		<div class="container">
			<p>JavaScript</p>
		</div>
	</footer>


</body>

</html>