<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>MyAppFirst</title>
</head>

<body>
	MyAppHuku
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<p>
		<input type="text" placeholder="ルームIDを入力してね。" id="text1" maxlength="5" />
		<input type="button" value="接続" onclick="clickBtn1()">
		<input type="button" value="切断" onclick="clickBtn99()">
	</p>
	<p>
		<input type="text" placeholder="メッセージを送ろう！" id="msg" maxlength="50" />
		<input type="button" value="送信する。" onclick="clickBtn2()">
	</p>
	<hr>
	
	<div id="messages">
	【受信メッセージ】
	
	</div>
	<script>
		let stompClient = null;
		function clickBtn1() {
			const socket = new SockJS('/point1');
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function (frame) {
				
				/////////////復習問題用！コメントを外して使ってね！！！///////////
				//Springからチャネルに送られたメッセージを接続者に配信する。
				stompClient.subscribe('/topic/hukucha', function (result) {
					//pタグを生成
					const hukuTag = document.createElement("p");
					
					//pタグの中に受信したメッセージを入れる。
					hukuTag.textContent = result.body;
					
					//pタグの文字色を青にする。
					hukuTag.style.color = "blue";
					
					//divタグ内に作ったpタグを突っ込む。
					document.getElementById("messages").appendChild(hukuTag);
					console.log(result.body);
				});
				////////////////////////////////////////////////////////////////////////
			});
		}
		
		/////////////////復習問題用！！////////////////////
		function clickBtn2() {
			const msg = document.getElementById("msg").value;
			//データを送るControllerのURLを書く。
			//プリントを良く見て、どこと繋がっているかを確認しよう。
			stompClient.send('/app/hukuhuku', {}, msg);
		}
		/////////////////////////////////////////////////////
			
		////////「切断」ボタンを推したときの処理/////////////
		function clickBtn99() {
			if (stompClient !== null) {
				stompClient.disconnect();
				stompClient = null;
			}
			console.log("Disconnected");
		}
		/////////////////////////////////////////////////////
	</script>
</body>
</html>