<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
</head>

<body>
	<h2>ユーザ情報を更新する！</h2>
	<form th:action="@{/mytenth}" method="POST" enctype="multipart/form-data">
		更新対象のユーザid(数値)：<input type="number" name="user_id"> <br>
		更新後のパスワード：<input type="text" name="user_pass"> <br>
		更新後の名前：<input type="text" name="user_name"> <br>
		更新後のアイコン：<input type="file" name="upimage"><br>
		<input type="submit">
	</form>
	<hr>
	<h2>※注意※<br>ユーザ情報を削除する！</h2>
	<form th:action="@{/mytenth_delete}" method="POST" enctype="multipart/form-data">
		更新対象のユーザid(数値)：<input type="number" name="user_id"> <br>
		<input type="submit">
	</form>
	<hr>
	DBの内容:<br>
	<th:block th:each="result : ${selectResult}">
		<p th:text="${result.user_id}"></p>
		<p th:text="${result.user_name}"></p>
		<p th:text="${result.user_pass}"></p>
		<img th:src="${'data:image/png;base64,' + result.user_image}">
	</th:block>
</body>

</html>